/* navbar */
.navbar {
  position: relative;
  z-index: 1;
}
.navbar-brand {
  font-family: Viga;
  font-size: 28px;
}

/* Jumbotron */
.jumbotron {
  background-image: url("../img/surabaya.jpg");
  background-size: cover;
  height: 540px;
  text-align: center;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 80%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}
.jumbotron .container {
  z-index: 1;
  position: relative;
}

.jumbotron .display-4 {
  color: white;

  margin-top: 150px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 40px;
  margin-bottom: 30px;
}

.jumbotron .display-4 span {
  font-weight: 600;
}

/* info panel */
.info-panel {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: -100px;
  background-color: white;
  padding: 30px;
}
.info-panel img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.info-panel h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
}

.info-panel p {
  font-size: 14px;
  color: #acacac;
  margin-top: -5px;
  font-weight: 200px;
}

/* working space */
.working {
  margin-top: 120px;
  text-align: center;
}

.working h3 {
  font-size: 53px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 30px;
}

.working h3 span {
  font-weight: 500;
}

.working p {
  font-size: 18px;
  color: #acacac;
  font-weight: 200;
  margin: 30px 0;
}

.about h1 {
  margin-top: 60px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 40px;
  margin-bottom: 30px;
}
.pertanyaan h3 {
  margin-top: 60px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}
.pertanyaan p {
  font-size: 15px;
  color: #acacac;
  margin-top: -20px;
  font-weight: 100px;
  text-align: center;
}

.pertanyaan h5 {
  font-size: 20px;
  color: black;
  margin-top: 20px;
  text-align: center;
}

.parallax-image .jumbotron {
  background-image: url("../img/1.png");
  height: 550px;
  width: auto;
  margin-top: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.parallax-image h3 {
  font-size: 40px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: -10px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.about-us {
  /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5); */
  /* border-radius: 12px; */
  margin-top: -30px;
  /* background-color: white; */
  padding: 10px;
}
.about-us img {
  width: 80px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.about-us h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
  color: white;
}

.about-us p {
  font-size: 14px;
  color: #acacac;
  margin-top: -5px;
  font-weight: 200px;
}

/* Utility */
.tombol {
  text-transform: uppercase;
  border-radius: 40px;
}

/* Dekstop Version */
@media (min-width: 992px) {
  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
  .nav-link {
    text-transform: uppercase;
  }
  .parallax-image h3 {
    font-size: 25px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 5px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
  .parallax-image .jumbotron {
    background-image: url("../img/4.png");
    height: 400px;
    width: auto;
    margin-top: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .info-panel p {
    font-size: 15px;
  }
  .about-us {
    /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5); */
    /* border-radius: 12px; */
    margin-top: 50px;
    /* background-color: white; */
    padding: 5px;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #0b63dc;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .jumbotron {
    margin-top: -75px;
    height: 640px;
  }

  .jumbotron .display-4 {
    font-size: 62px;
  }

  .working {
    text-align: left;
  }
}
